.chart-container{
    position: relative;
    height: 250px;
    width: 250px;
    border:0;
    

}

.box1, .box2, .box3{
    position: absolute;
    height: 225px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.stats-table table{
    position: absolute;
    width: 100%;
    bottom: 10px
}

.stats-table td{
    padding: 3px;
    text-align: center;
    color:#575757;
    font-size: .6em;
}


