@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900$display=swap');


.input-name{
    width: 90%;
    position: relative;
    margin: 20px auto;
    
}

.input-name h5{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: #6e6c6c;
    letter-spacing: 1px;
}

#small-box{
    width: 22%;
    padding:9px 0 9px 40px;
}

#m-box{
    width: 45%; 
    padding:8px 0 8px 40px;
}

#m-box-txt{
    width: 45%;
    padding:11px 0 11px 40px;
}

#l-box{
    width: 70%;
    padding:8px 0 8px 40px;
}


.lock{
    padding:8px 10px;
    color: #d03541;
}

.name{
    width: 45%;
    padding:9px 0px 9px 40px;

}
.input-name .last{ 
    margin-left: 35px;
}
.input-name .last-m{
    margin-left: 35px;
}
.text-name{
    width: 100%;
    padding:9px 0 9px 40px;
}
.text-city{
    padding:9px 0 9px 20px;
}
.input-name i{
    position: absolute;
    font-size: 18px;
    height: 40px;
    border-right: 1px solid #cccccc;
}
.email{
    padding: 8px;
    color: #d03541
}
.text-name, .name{
    border: 1px solid #cccccc;
    outline: none;
    -webkit-transition: all 0.30s ease-in-out;
      -moz-transition: all 0.30s ease-in-out;
      -ms-transition: all 0.30s ease-in-out;
      transition: all 0.30s ease-in-out;
}
.text-name:hover, .name:hover{
    background-color: #fafafa;
    border: 1px solid #d03541;
}
.text-name:focus, .name:focus{
    -webkit-box-shadow: 0 0 2px 1px #d03541;
      -moz-box-shadow: 0 0 2px 1px #d03541;
      box-shadow: 0 0 2px 1px #d03541;
      border: 1px solid #a01824;
      background: #fafafa;
}

.dropdown{
    display: inline-block;
    width: 100%;
    height: 40px;
    padding: 0px 15px;
    cursor: pointer;
    color: #7b7b7b;
    border: 1px solid #cccccc;
    border-radius: 0;
    background: #fff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: all 0.2s ease;
}
.dropdown::-ms-expand{
    display: none;
}

.dropdown:hover{
    border: 1px solid #d03541;
}

.dropdown:focus{
    color:rgb(56, 56, 56);
    -webkit-box-shadow: 0 0 2px 1px #d03541;
      -moz-box-shadow: 0 0 2px 1px #d03541;
      box-shadow: 0 0 2px 1px #d03541;
      border: 1px solid #a01824;
      background: #fafafa;
}


.arrow {
    position: absolute;
    top: calc(50% - 4px);
    right: 15px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-width: 8px 5px 0 5px;
    border-style: solid;
    border-color: #7b7b7b transparent transparent transparent;
 }
  

@-webkit-keyframes check {
    0% { height: 0; width: 0; }
    25% { height: 0; width: 7px; }
    50% { height: 20px; width: 7px; }
  }
  
  @keyframes check {
    0% { height: 0; width: 0; }
    25% { height: 0; width: 7px; }
    50% { height: 20px; width: 7px; }
  }
  .button{
    background:#d03541;
    height: 40px;
    border-radius: 3px;
    line-height: 35px;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    margin-bottom: 10px;
    
  }
  .button:hover{
      background-color: #94131e;
  }



  @media (max-width: 480px) {
    .input-name .last-m{
        margin-left: 20px;
      }

      .wrapper{
          width: 100%;
      }
      .input-name{
          margin-bottom: -10px;
      }
      .name{
          width: 100%;
          padding:9px 0 9px 40px;
          margin-bottom: 10px;
      }
      .dropdown{
        margin-bottom: 7px;
      }
      .input-name .last{
          padding: 0;
          margin:0;
      }
      .button{
        margin-top: 15px;
        
      }
  }


  @media screen and (max-width: 768px){
 
    #m-box{
        width: 49.3%;
        padding:9px 0 9px 40px;
    }

}


/*-- CHANGE PASSWORD BUTTON-- */
.pwd-chng-btn{
    width: 100px;
    height: 45px;
    border-radius: 7px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d03541;
    text-decoration: none;
    border: 0;
    transition: all 0.5s ease;

}

.pwd-chng-btn:hover{
    background-color: #ad2d38;
}

.pwd-chng-btn a{
    font-size: 1.2em;
    color: #fff;
    text-decoration: none;
}

.pwd-chng-btn a:hover{
    font-size: 1.2em;
    color: #fff;
    text-decoration: none;
}

