@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900$display=swap');

#sm-banner{
  display: none;
}

.table-heading{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
}

.section-tbl-height{
  top:50px;
  min-height: 75vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-container{
  position: absolute;
  top:30%;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-container .table input{
    height: 30px;
    width: 110px;
    color: #fff;
    background-color: #d03541;
    border-radius: 5px;
    border:0px;
    transition: 0.5s ease;
    font-size: 0.9em;
}

.table-container .table input:hover{
    background-color: #a50d19;
}


.table{
	  width: 75%;
    border-collapse: collapse;
    border-radius: 7px;
    box-shadow: 0 2px 10px rgba(64, 64, 64, 0.279);
}

.table td,.table th{
  padding:20px 15px;
  text-align: center;
  font-size:16px;
}


.table th{
	background-color: #d03541;
	color:#ffffff;
}

.table tbody tr:nth-child(even){
	background-color: #f5f5f5;
}


/*
 * Control feature layout
 */
.dataTables_wrapper{
    position: absolute;
    clear: both;
    *zoom: 1;
    zoom: 1;
    width: 75%;
  }

  .dataTables_wrapper td,.dataTables_wrapper th{
    padding:20px 15px;
  }

  .dataTables_wrapper .dataTables_length {
    float: left;
  }
  .dataTables_wrapper .dataTables_filter {
    float: right;
    text-align: right;
    padding: 1.2em;
    color:#d03541
  }
  .dataTables_wrapper .dataTables_filter input {
    margin-left: 0.5em;
    height: 30px;
    min-width:100px;
    border:2px solid #d03541;
    color: #d03541;
    border-radius: 4px;
    font-size: 1em;
    text-align: center;
  }
  .dataTables_wrapper .dataTables_info {
    clear: both;
    float: left;
    padding-top: 0.755em;
  }
  .dataTables_wrapper .dataTables_paginate {
    float: right;
    text-align: center;
    padding: 1.5em 1em 1.5em;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button {
  color: #fff;
  background-color: #d03541;
  border-radius: 4px;
  border:0px;
  transition: 0.5s ease;
  font-weight: 300;
  font-size: 0.8em;
  text-align: center;
  margin: 5px;
  height: 30px;
  max-width: 70px;
  box-sizing: border-box;
  display: inline-block;
  padding: 0.4em 1em;
  text-decoration: none !important;
  cursor: pointer;
  *cursor: hand;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background-color: #a50d19;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  cursor: default;
  color: #666 !important;
  border: 1px solid transparent;
  background: transparent;
  box-shadow: none;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background-color: #a50d19;;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button:active {
    outline: none;
    background-color: #5e070e;
  }

  .dataTables_wrapper .dataTables_length,
  .dataTables_wrapper dataTables_filter,
  .dataTables_wrapper .dataTables_paginate {
    color: #333;
  }
  table.dataTable {
  width: 100%;
  margin: 0 auto;
  clear: both;
  border-collapse: separate;
  border-spacing: 0;

  }



/*responsive*/
 
@media (max-width: 600px){

.section-tbl-height{
  top: -50px;
  min-height: 1500px;
  margin-bottom: 300px;
}

.dataTables_wrapper {
  width: 100%;
  overflow-x: hidden;  
}

.table-container{
  width: 100%;
  left: 0%;
  top: 60%;
     
}



  .dataTables_wrapper .dataTables_filter {
    float: right;
    text-align: right;
    padding: 2em;
    
  }

  .pagination-container{
    width: 100%;
  }

  .pagination-container div{
    justify-content: center;
  }
    

  .table-container{
    width: 100%;
    left: 0%;
    margin-top: -100px;
    margin-bottom: 700px;
 }

	.table thead{
		display: none;
	}

	.table, .table tbody, .table tr, .table td{
    display: block;
    width: 100%;
  }
  .table{
    padding:20px;
    box-shadow:0 2px 0px rgba(64,64,64,.7);
    
  }
	.table tr{
    margin-bottom:15px;
    border-radius: 7px;
    box-shadow: 0 2px 10px rgba(85, 85, 85, 0.473);
	}
	.table td{
		text-align: right;
		padding-left: 50%;
		text-align: right;
    position: relative;
    border:0;
	}
	.table td::before{
		content: attr(data-lable);
		position: absolute;
		left:0;
    width: 50%;
    color: #d03541;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}
}




/*-- VOLUNTEER PAGE STYLING --*/

.size-config{
  position: relative;
  background: url(/public/img/volunteer/wave-bg-b.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  padding-bottom: 150px;
  object-fit: cover;
}
 
.size-config-img{
    position: absolute;
    width: 100%;
    height: 110%;
}

.size-config-img img{
  height: 100%;
  width: 100%;
}


.size-config-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    

}

.size-config-content h1{
  color:#ffffff;
  font-size: 5em;
  font-weight: 500;
  margin:25px;
  padding-top: 50px;
  z-index: 50;

}
.size-config-content h2{
  color:#e2e1e1;
  font-size: 2em;
  font-weight: 500;
  padding-top: -50px;
  z-index: 50;
}

.img-container{
  position: absolute;
  width: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.img-container img{
  position: relative;
  max-width: 570px;
  padding: 25px;
  animation: f1 6s infinite linear;
}

.v-heading{
  font-size: 3em;
  color: #d03541;
  font-weight: 500;
}

.v-para{
  font-size: 1.5em;
  color: #969595;
  font-weight: 500;
}

.content-padder{
  padding-top: 100px;
  padding-bottom: 100px;
}

.v-button{
  color: #fff;
  font-size: 1em;
  width: 170px;
  height: 45px;
  background-color: #d03541;
  border: none;
  outline: none;
  border-radius: 5px;
  outline: none;
  transition: 0.3s ease;
}

.v-button:hover{
  background-color: #ad2d38;
  outline: none;
}

.v-button:focus{
  outline: none;
}

.v-button:active{
  outline: none;
}


@media screen and (max-width: 768px){

  #md-banner{
    display: none;
  }

  #sm-banner{
    display: contents;
  }

  .sm {
    width: 90%;
  }

  .img-container img{
    
    max-width: 100%;
    margin-top: -60px;
  }


  .content-padder{
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .v-content{
    padding-top: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
  }
  .v-heading{
    text-align: center;
  }
  .content-padder p{
    text-align: left;
    margin:20px
  }

 
  .size-config-content{
    text-align: center;
  }

  .size-config-content h1{
    font-size: 4em;
  }

  .size-config{
    background-size: 210% 100%;
  }

}

