<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>fact</title>
    <meta name="description" content="">
    <meta name="author" content="">

  
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/public/css/fact.css">
    


</head>

<body id="top">

    <%- include ../Home/header.ejs %>

    <section style="min-height: 30vh;">

    </section>
    
    <section class="s-content s-content--top-padding s-content--narrow ">

        <div class="row narrow">
            <div class="col-full s-content__header">
                <h1 class="display-1 display-1--with-line-sep " style="color:#d03541;">Do you know?</h1>
                <p class="lead "> Every day more than 5,000 people give blood at a blood donor center. It's your chance to relax, be pampered, enjoy a free snack – and feel great knowing that you're saving lives.</p>
            </div>
        </div>
        <div class="row">
          <div class="col-full s-content__main">
      
         


<!-- 16:9 aspect ratio -->

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/YHxdhI5ZrHc?rel=0" allowfullscreen></iframe>
  </div> 






  
        

                <h1 style="font-family: cursive; color:#d03541 ;">Facts About Blood</h1>

                <ul style="list-style-type: disc; color:black ; font-family: Georgia, 'Times New Roman', Times, serif ;">
                    <li>Blood makes up around 7% of the weight of a human body.</li>
                    <li>Blood contains red blood cells, white blood cells, and platelets.</li>
                    <li>These blood cells float in a yellow liquid called blood plasma. Blood plasma is made up of 90% water and also contains various nutrients, electrolytes, gases, proteins, glucose, and hormones.</li>
                    <li>Blood plasma can be separated from the cells by spinning the blood in a device known as a centrifuge until the cells collect at the bottom of the tube.</li>
                    <li>Red blood cells have the important job of carrying oxygen around the body. They also contain a protein called hemoglobin. Hemoglobin contains iron which combines with oxygen to give hemoglobin and our blood, a red color.</li>
                    <li>Red blood cells develop in the bone marrow and circulate in the body for around 120 days.</li>
                    <li>White blood cells are an important part of the body’s immune system. They defend against certain bacteria, viruses, cancer cells, infectious diseases, and other unwanted materials.</li>
                    <li>Platelets help blood clot to limit bleeding when your skin is cut. Blood clots can occasionally have negative effects, if they form in blood vessels going to the brain they can cause a stroke while clotting in a blood vessel going to the heart can lead to a heart attack.</li>
                    <li>Grouping human blood types can be a difficult process and there are currently around 30 recognized blood types (or blood groups). You might be familiar with the more simplified “ABO” system which categorizes blood types under O, A, B, and AB. Do you know which blood type you are?</li>
                    <li>Many generous humans around the world give blood donations every year. This blood is used in important blood transfusions or made into medication.</li>
                    <li>There are strict rules that limit the number of people who can volunteer blood donations. These include screening processes that test for diseases that could be transmitted by a blood transfusion as well as ensuring recovery time for the donor’s body to replace its blood.</li>
                  </ul>

                <hr>

                        <h1 style="font-family: cursive; color:#d03541 ;">Compatibility for transfusions</h1>
                        <p> <img src="/public/img/compatibility.jpg"></p>
               

            </div> 
        </div> 

    </section> 


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <%- include ../Home/footer.ejs %>
</body>

</html>