

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/css/faq.css">
</head>
<%- include ../Home/header.ejs %>
<section style="min-height: 30vh;"></section>
<div class="container-fluid">
    <div class="box">
        <p class="heading">Frequently Asked Questions</p>
        <div class="faqs">
           <details>
              <summary>I am in need of blood. How can i find donor ?</summary>
              <p>
                Finding a donor on our website is really very simple. Just click
                 "Find Donor" on top and fill the required details and 
                 you wil get the list of donors in your area. Now, just sit back. 
                 Our automated system will inform all your nearby donors that you 
                 require blood and they will contact you as soon as possible.
                </p> 
            </details>
           <details>
              <summary>I want to stop receiving requests because I am unhealthy or I am not available in the city.</summary>
              <p>If you wish to stop receiving requests emails and messages, 
                just go to your user Dashboard
                and turn your availability off from the settings menu from the side bar</p>
                   
           </details>
           <details>
              <summary>  I have shifted to a new city and wish to donate 
                here in a new city. How can I change my address?
            </summary>
            <p>If you want to change your address, go to your 
                Dashboard 
                and click on the edit profile tab and just fill your new details and all done.</p>
        </details>

           <details>
            <summary> How can I contribute on Find Donor?
            </summary>
            <p>The easiest and simplest way is to, register yourself as a donor, and help the needy. Otherway is to become a volunteer
                on Find Donor and give extra to the community by organizing blood donation drives 
                and helping others by telling them about this website.</p>
        </details>

         <details>
            <summary> How can I support you financially?
            </summary>
            <p>If you wish to support us financially, you can visit
                 Contact Us 
                 section and write to us, we will contact you back!</p>
        </details>
       
        </div>
     </div>
</div>

 <section style="min-height: 30vh;"></section>


 <%- include ../Home/footer.ejs %>