<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        h1{
            color: #DC3545;
        }
        .content p{
            color: #4a4a4a;
            font-family: "Open Sans", fallback, sans-serif;
            font-size: 16px;
            line-height: 24px;
            vertical-align: 24px;
            letter-spacing: normal;
            word-spacing: 0px;
            margin: 0px 0px 16px;
            padding: 0px;
            font-weight: 400;
            font-style: normal;
            text-transform: none;
            text-align: start;
        }
    </style>
</head>
<%- include ../Home/header.ejs %>
<section style="min-height: 30vh;">

</section>

<div class="container">
    <div class="row mb-4 text-center ">
        <div class="col-lg-12">
          <h1 class="h1-responsive font-weight-bold my-5">Privacy Policy</h1>
          <h3>Last Updated on July 17, 2020</h3>
        </div>
    </div>
    <hr>
    <div class="row content justify-content-center mb-5">

        <div class="row col-md-10">
            <h1>Overview</h1>
            <p>As part of our mission to spread good vibes and help connect with blood donors, we want you to share things that matter to you most with your friends, family and anyone else around you. It’s important to us that you feel comfortable and trust us with your information when you use <strong>Find Donor</strong> services. Please take a few minutes to read this Privacy Policy, so that you understand what information we collect, what we do with it and why. <br><br>
                In general, we only collect information that allows us to provide you with our best Services. This includes, for example, simple tasks like allowing other users to see the name and mobile no. to connect. It also helps us to keep our Services clear of fraud and Spam, and it allows us to get a unique understanding of what additional services may be useful to you, and all other purposes set out in this policy below.
            </p>
            <h1>Scope and consent</h1>
            <p>Before you start sharing good vibes, it’s important you understand that by using our Services, you give us consent to collect, use, disclose, and retain your personal information and other information but we will never read or listen to the content you are sharing privately. You can be sure that we will only use your information as described in this Policy. <br><br>
                By using the Service, you are also agreeing to our Terms of Use. Please make sure you read and agree with our Terms of Use if you want to use Find Donor.</p>
            <h1>Information we collect</h1>
            <p>First of all, we want you to be assured that we do not randomly share your details provided to us. Information you provide to us:- <br><br>
                (a) Name <br>
                (b) Mobile Number <br>
                (c) Email address <br>
                (d) Residential address <br>
                (e) Password for Find donor Account <br>
                (f ) Blood Group <br>
            </p>
            <p>From the above information provided to us, we only share your name and mobile no. for person in need to connect with you <strong>as early as possible.</strong>
            </p>
            <h1>Uses and Retention</h1>
            <p>The information we collect from you ensures you can use the Find Donor Service and can be contacted on Find Donor. Your information is retained for as long as it is needed and helps us in our mission to constantly improve our Services and provide you with new experiences. As part of this mission, we may use your information for the following purposes: <br><br>
                (a) Make our service available: We use your Registration and Account information to (i) register you for the Website and create your User Account for Find Donor; (ii) create your profile and make it visible; (iii) provide customer service, give you information about your account, and respond to your requests; (iv) personalize your experience by providing content on the Service, including targeted advertising of Find Donor services and other 3rd party services that we believe may be of most interest to you. If you wish to stop receiving requests your may turn your availability off from your dashboard by logging into your account using your mobile no. or email and password. <br><br>
                (b) Provide Interesting Offerings to You: As part of our Services Find Donor may use your information to send you message notifications about offerings from our Services or from third parties (as long as you agreed on Find Donor or elsewhere to receive information from that third party),which we believe you would find interesting. If you do not wish to receive such notifications, you may adjust your account settings to decline them or opt-out at any time from receiving further notifications. We may also use WPS location data to provide location-based offerings to you from our Service or third-party advertising. You will be asked to allow the use of your location data before Find Donor provides such offerings, and you may also adjust your account preferences to disable the use of your location data at any time. <br><br>
                (c) Prevent Fraud & Spam; enforcement of law: We may use your information to prevent, detect, and investigate fraud, security breaches, potentially prohibited or illegal activities, protect our trademarks and enforce our Terms of Use. We may use your information to comply with applicable laws. <br><br>
                (d) Communicate With You: We may use your information to contact you (via message or other means) to maintain the Website, including your Find Donor User Account, to comply with your stated communication preferences or to provide updates about other Find Donor services. Unless otherwise specified, we retain information as long as it is necessary and relevant for us to achieve the purposes referred to above or to enable us to comply with our legal data protection retention obligations.</p>
            <h1>Accessing, Reviewing, and Changing Your Personal Information</h1>
            <p>As a registered member, you can review and change personal information at any time by accessing your account on the website. Please be sure to update your personal information promptly if it changes or becomes inaccurate. We may retain some information from closed accounts so that we can comply with law, prevent fraud, assist with investigations, resolve disputes, analyze, or troubleshoot programs, enforce our Terms of Use, or take other actions permitted by law. Likewise, if your account or membership is terminated or suspended, we may maintain some information to prevent you from re-registering.</p>
            <h1>Security</h1>
            <p>We know that security is important to our users and we care about the security of your information. We maintain technical, physical, and administrative security measures to protect the security of your personal information against loss, misuse, unauthorized access, disclosure, or alteration. Some of the safeguards we use include firewalls, data encryption, physical access controls to our data centers and information access authorization controls. We need your help too: it is your responsibility to make sure that your personal information is accurate and that your password(s) and account registration information are secure and not shared with third-parties.</p>
            <h1>Contact Us</h1>
            <p>If you still have questions about our privacy policy, please feel free to send us an email to privacy@finddonor.in <br><br>
                In the event you read this Privacy Policy in any language other than English, you agree that in the event of any discrepancies, the English version shall prevail.</p>
        </div>
  
    </div>
</div>

<%- include ../Home/footer.ejs%>