<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        h1{
            color: #DC3545;
        }
        .content p{
            color: #4a4a4a;
            font-family: "Open Sans", fallback, sans-serif;
            font-size: 16px;
            line-height: 24px;
            vertical-align: 24px;
            letter-spacing: normal;
            word-spacing: 0px;
            margin: 0px 0px 16px;
            padding: 0px;
            font-weight: 400;
            font-style: normal;
            text-transform: none;
            text-align: start;
        }
    </style>
</head>
<%- include ../Home/header.ejs %>
<section style="min-height: 30vh;">

</section>

<div class="container">
    <div class="row mb-4 text-center ">
        <div class="col-lg-12">
          <h1 class="h1-responsive font-weight-bold my-5">Terms &amp; Conditions</h1>
        </div>
    </div>
    <hr>
    <div class="row content justify-content-center mb-5">

        <div class="row col-md-10">
            <h1>Software License and Service Agreement</h1>
            <p>This is a legal agreement ("this Agreement") between Find Donor ("Finddonor" or the "Company" or "Find Donor" or "we" or "us" or "our" or other similar pronouns) and users ("you") of any services or features of Find Donor (hereinafter referred to as the "Software"),which are provided by the company. Please read the Agreement carefully and decide whether to accept it. You are not allowed to access or use the website or related services unless you accept all the terms and conditions of this Agreement. By accepting the Agreement, you are consenting to, and agreeing to be bound by the terms of this Agreement. We reserve all rights not expressly granted to you.
            </p>
            <h1>Eligibility</h1>
            <p>You must be at least 18 years of age to create an account on Find Donor and use the Service. If you are a minor please read this Agreement and other above-mentioned agreements with your legal guardian. By creating an account and using the Service, you represent and warrant that you can form a binding contract with Find Donor.</p>
            <h1>Your account</h1>
            <p>You are responsible for maintaining the confidentiality of your login credentials you use to sign up for Find Donor, and you are solely responsible for all activities that occur under those credentials. If you think someone has gained access to your account, please immediately contact support@finddonor.in.
            </p>
            <h1>Consent to Use of Data</h1>
            <p>You agree that we may collect and use related information, including but not limited to technical information about your mobile device, system, accounts, call duration, IP address, resolution, voice and video quality enhancing parameters, information that is gathered periodically to facilitate the provision of Software updates, product support and other services related to the Software to you (if any). We may use this information and promise to protect the privacy and personal information of users in accordance with the Privacy Policy.
                <br><br>By using or continuing to use our services, you agree that we collect, use, store, share, transfer and publicly disclose your information in accordance with the Privacy Policy.</p>
        </div>
  
    </div>
</div>

<%- include ../Home/footer.ejs%>