
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/aboutus.css">
</head>

<%- include header.ejs %>


<section style="min-height: 25vh;">

</section>


<div class="container wrappercontainer">
    <div class="row justify-content-center aboutmargin">
        <h2>
            About Us
        </h2>
    </div>
    <div class="row justify-content-center rowmargin">
        <div class="col-sm-7 col-12 theme align-self-center order-last order-xs-first order-sm-first order-md-first order-lg-first order-xl-first" >
            <div class="row justify-content-center">
                <div class="col-11 col-sm-10 align-self-center">
                    <h1>
                        Our Moto<br>
                    </h1>
                    <p>
                        To build a community dedicated for advancement of transfusion medicine and biotherapies. From donor to patient.
                         From lab to bedside. Blood donation from donor to the one who is in need of it<br><br>
                        Improving lives by making transfusion medicine and biotherapies safe, available,
                         and effective worldwide to provide blood as early as possible very efficiently. 
                        To connect the people (donor to the patient directly so they don't need to wait)<br><br>
                    </p>
                </div>
                
            </div>
        </div>
        <div class="col-sm-5 col-12 align-self-center order-first order-xs-last order-sm-last order-md-last order-lg-last order-xl-last">
            <div class="row justify-content-center">
                <img  class="imagesize align-self-center" src="/public/img/aboutus/about1.png">
            </div>
        </div>
    </div>

    <div class="row justify-content-center rowmargin">
        <div class="col-sm-5 col-12 align-self-center">
            <div class="row justify-content-center">
                <img  class="imagesize align-self-center" src="/public/img/aboutus/about2.png">
            </div>
        </div>
        <div class="col-sm-7 col-12 theme align-self-center" >
            <div class="row justify-content-center">
                <div class="col-11 col-sm-10 align-self-center">
                    <h1>
                        Strategic Drivers<br>
                    </h1>
                    <p>
                        Foster a Connected Community.<br>
        
                        Promote the ability of the Blood System to meet patient needs.<br>
        
                        Drive Quality and Safety in Blood and Biotherapies.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center rowmargin">
        <div class="col-sm-7 col-12 theme align-self-center order-last order-xs-first order-sm-first order-md-first order-lg-first order-xl-first" >
            <div class="row justify-content-center">
                <div class="col-11 col-sm-10 align-self-center">
                    <h1>
                        We at a glance<br>
                    </h1>
                    <p>
                        We have seen some issues, where people did not get the blood at the right time and they lose their precious life. So our motive is to find the compatible blood donor easily in an emergency with the help of our website.<br>
                        Patients who require blood transfusion service as part of the clinical management of their condition have the right to expect that sufficient and safe blood will be available to meet their needs.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-12 align-self-center order-first order-xs-last order-sm-last order-md-last order-lg-last order-xl-last">
            <div class="row justify-content-center">
                <img  class="imagesize align-self-center" src="/public/img/aboutus/about3.png">
            </div>
        </div>
    </div>

    <div class="row justify-content-center rowmargin">
        <div class="col-sm-5 col-12 align-self-center">
            <div class="row justify-content-center">
                <img  class="imagesize align-self-center" src="/public/img/aboutus/about4.png">
            </div>
        </div>
        <div class="col-sm-7 col-12 theme align-self-center" >
            <div class="row justify-content-center">
                <div class="col-11 col-sm-10 align-self-center">
                    <h1>
                        What we have tried to do<br>
                    </h1>
                    <p>
                        We as a team have tried to bring people together who are willing to help others by donating blood and those who require blood. So that people's lives can be saved.
                        As a future plan, after this pandemic we will try include bloodbanks and NGO's near you in our community so that we could give even more meaning to our moto.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



<%- include footer.ejs %>