
<head>
<meta name="description" content="i have donated blood become a donor like me">
<link rel="stylesheet" href="/public/css/share.css">
</head>
<footer id="myFooter">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <h5 class="mb-4">FindDonor</h5>
                <ul>
                    <li><a href="/ ">Home</a></li>
                    <li><a href="/#find_a_donor">Search a Donor</a></li>
                    <li><a href="/register">Become a donor</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5 class="mb-4">About us</h5>
                <ul>
                    <li><a href="/team">Team</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/volunteer">Volunteers</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5 class="mb-4">Support</h5>
                <ul>
                    <li><a href="/faq">FAQ</a></li>
                    <li><a href="/contact">Help desk</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5 class="mb-4">Legal</h5>
                <ul>
                    <li><a href="/privacy">Privacy Policy</a></li>
                    <li><a href="/terms">Terms of Service</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <div class="social-networks">
                    <a href="https://www.linkedin.com/company/finddonor/" ><i class="fa fa-linkedin"></i></a>
                    <a href="https://www.facebook.com/finddonorglobal" ><i class="fa fa-facebook"></i></a>
                    <a href="https://www.instagram.com/finddonor/"><i class="fa fa-instagram"></i></a>
                </div>
                <a href="/contact" style="text-decoration: none;"><button type="button" class="footer-btn">Contact us</button></a>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>© 2020 FindDonor - AbleBrains | All Right Reserved.</p>
    </div>
</footer>

<script>
    $(document).ready(function(){
        $(window).scroll(function(){
            if ($(this).scrollTop() > 40){
                $("#shareButton").css({'opacity':'1'})}
            else {
                $("#shareButton").css({'opacity':'0'})
            }
        });
    });
</script>

<button id="shareButton" onclick="share(this)">
    <i class="fa fa-share-alt"></i>
    <i class="fa fa-times"></i>
    <div class="container">
        <div class="addthis_inline_share_toolbox"></div>

        <!--for old users of AddThis-->
        <div class="addthis_sharing_toolbox"></div>
    </div>
</button>

<!--JAVASCRIPT FILES DONT TOUCH CAN RUIN THE WHOLE PAGE-->

<script src="/public/js/share.js"></script>


<script type="text/javascript" src="/public/js/lax.min.js"></script>
<script>
    window.onload = function () {
        lax.setup() // init
        const updateLax = () => {
            lax.update(window.scrollY)
            window.requestAnimationFrame(updateLax)
        }
        window.requestAnimationFrame(updateLax)
    }
</script>

 <!--PRELOADER SCRIPT -->
<script>
    let preloaderWrapper = document.querySelector('.preloader-wrapper');

    window.addEventListener('load', function () {
        // spinnerWrapper.style.display = 'none';
        preloaderWrapper.parentElement.removeChild(preloaderWrapper);
    });
</script>



</body>

</html>