<!-- PARALLAX REGIION ----------------->

<section class="sec-height lax" >    
    <div class="container-fluid parallax lax banner-pos" >
        <div class="row">
            <div class="col-md-8 order-md-1 order-sm-2 justify-content-start align-items-start ">
                <div id="md-banner">
                    <div class="background lax" data-lax-translate-y="0 1, 500 -150" >
                        <img src="/public/img/paper.png" alt="paper" class="paper" id="pos-paper">
                    </div>
                    <div class="foreground lax" data-lax-translate-y="0 1, 500 -280">
                        <img src="/public/img/flask.png" alt="flask" class="flask" id="pos-flask">
                        <img src="/public/img/tube.png" alt="test-tube" class="tube" id="pos-tube">
                    </div>
                    <div class="middle lax"  data-lax-translate-y="0 1, 500 -230">
                        <img src="/public/img/bdropL.png" alt="bdrops" class="bdropL" id="pos-bdropL">
                        <img src="/public/img/bag.png" alt="bag" class="bag" id="pos-bag">
                    </div>
                    <div class="background lax" data-lax-translate-y="0 1, 500 -200">
                        <img src="/public/img/bdropR.png" alt="bdropR" class="bdropR" id="pos-bdropR">
                    </div>
                    
                </div>

                <div id="sm-banner" >
                    <div class="background lax" data-lax-translate-y="0 1, 500 -150">
                        <img src="/public/img/parallax-img/paper.png" alt="paper" class="sm paper pos-top">
                    </div>
                    <div class="foreground lax" data-lax-translate-y="0 1, 500 -280">
                        <img src="/public/img/parallax-img/flask.png" alt="flask" class="sm flask pos-top">
                        <img src="/public/img/parallax-img/tube.png" alt="test-tube" class="sm tube pos-top">
                    </div>
                    <div class="middle lax" data-lax-translate-y="0 1, 500 -230">
                        <img src="/public/img/parallax-img/bdropL.png" alt="bdrops" class="sm bdropL pos-top">
                        <img src="/public/img/parallax-img/bag.png" alt="bag" class="sm bag pos-top">
                    </div>
                    <div class="background lax" data-lax-translate-y="0 1, 500 -200">
                        <img src="/public/img/parallax-img/bdropR.png" alt="bdropR" class="sm bdropR pos-top">
                    </div>
                    
                </div>
            
                   
            </div>

            <div class="col-md-4 order-md-2 order-md-1  justify-content-center align-items-center lax" data-lax-translate-y="0 1, 400 -260">
                    <h1 class="banner-text">Fast & easy way to search blood donors nearby.</h1>
                    <a href="#find_a_donor">
                        <input type="button" class="banner-btn lax"  value="find">
                        
                    </a>
            </div>
        </div>
       
    </div>
</section>

<!-- PARALLAX REGION END----------------->
